.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}
footer {
  position: relative;
  height: 1em;
  margin-top: -200px;
  width: 100%;
  font-size: small;
  bottom: 0;
  left: 0;
}
